{% extends 'base.html.twig' %}

{% block title %}Accueil - UNO{% endblock %}

{% block body %}
<div class="home-wrapper">
    <div class="card">
        <h1>Jeu du UNO</h1>
        <p>Bienvenue !</p>

        <h3>Règles rapides :</h3>
        <ul class="rules">
            <li>Joue une carte de même couleur ou valeur</li>
            <li>Sinon, pioche une carte</li>
            <li><strong>X</strong> : passe le tour</li>
            <li><strong>S</strong> : change le sens</li>
            <li><strong>+2</strong> : le suivant pioche 2 (cumulable)</li>
            <li>Premier sans carte = victoire 🥇</li>
        </ul>

        <a href="/start" class="btn-start">Lancer une partie</a>
    </div>
</div>
{% endblock %}