body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 20px;
}
.table-jeu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
.bot-face, .bot-gauche, .bot-droite {
    display: flex;
    gap: 10px;
}
.bloc-bot {
    background-color: #fff;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    width: 100px;
}

.ligne-milieu {
    display: flex;
    align-items: center;
    gap: 50px;
}
.pile {
    background-color: #000000;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
    width: 150px;
}
.carte-bouton {
    display: inline-block;
    padding: 10px;
    border-radius: 5px;
    color: #000000;
    text-align: center;
    width: 60px;
    cursor: pointer;
}